{% extends 'base.html' %}
{% load static %}
{% block content%}

<h2 class="text-center">Add Employee</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}



<div class="mb-3 mx-auto">
  <label  class="form-label">Name</label>
  <input type="text" class="form-control" name="n" placeholder="enter the name ">
</div>

    <div class="mb-3">
  <label  class="form-label">Address</label>
  <input type="text" class="form-control" name="add" placeholder="enter the address ">
</div>

    <div class="mb-3">
  <label  class="form-label">Age</label>
  <input type="text" class="form-control" name="a" placeholder="enter the a ">
</div>


    <div class="mb-3">
  <label  class="form-label">Email</label>
  <input type="email" class="form-control" name="e" placeholder="enter the email ">
</div>



     <div class="mb-3">
  <label  class="form-label">Image</label>
  <input type="file" class="form-control" name="i">
</div>

    <div class="mb-3">
        <input type="submit" value="ADD">
    </div>

</form>






{% endblock %}